

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
}

.maindiv {
    width: 100vw;
    height: 100vh;
    background-image: url('yoga\ image.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

p {
    color: #555;
    font-size: 16px;
}

label {
    font-weight: 700;
    color: #444;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: calc(100% - 18px);
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.result-box {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 6px;
}

.result-box h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.result-box span {
    font-weight: bold;
    font-size: 1.4rem;
    color: #007bff;
}

#weight-guide {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 6px;
}

#weight-guide h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#weight-guide p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding-left: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }

    .result-box span {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    label {
        font-size: 14px;
    }

    input {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }

    .result-box h2 {
        font-size: 18px;
    }

    .result-box span {
        font-size: 1rem;
    }

    #weight-guide h4 {
        font-size: 16px;
    }

    #weight-guide p {
        font-size: 14px;
    }
}